<!-- ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ -->
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~CONTROLPANEL~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<!-- vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv -->
<div class="ctrls">
    <div class="dropdown">
        <button class="knop groot dropdown-button" 
          [ngStyle]="{'background-color': puzzleService.getPuzzle().color}">
          {{"menu" | uppercase}}
        </button>
        <div class="dropdown-content" [class.noshow]="!showMenu">
          <button class="knop l-50 p-33" (click)="showHelp()">{{"help" | uppercase}}</button>
          <button class="knop l-50 p-33" (click)="exit()">{{"exit" | uppercase}}</button>
          <button class="knop l-100 p-33" (click)="restart()">{{"restart" | uppercase}}</button>
          <button class="knop l-100 p-50" (click)="eraseErrors()">{{"erase errors" | uppercase}}</button>
          <button class="knop l-100 p-50" (click)="eraseColor()">{{"erase color" | uppercase}}</button>
          <div class="custom-radios">
            <div class="color-button" *ngFor="let color of colorlist; let i=index">
              <input type="radio" id={{color}} name="color" 
                  value={{color}} 
                  [checked]="color === puzzleService.getPuzzle().color"/>
              <label for={{color}}>
                <span [ngStyle]="{'background-color': color}" 
                  (click)="colorButtonClicked(color)">
                  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/242518/check-icn.svg"
                   alt="Checked Icon" />
                </span>
              </label>
            </div>
          </div>

        </div>
      </div>
      <div [class.noshow]="showMenu">
        <div>
          <button class="knop" [ngStyle]="{'background-color': puzzleService.getPuzzle().color}"
          *ngFor="let button of numberButtons; let i=index" 
          (click)="numberButtonClicked(''+button.number, true)">
            {{button.number}}
          </button>
        </div>
        <button class="knop p-50 l-50" 
          [ngStyle]="{'background-color': puzzleService.getPuzzle().color}" 
          (click)="undo()"
          [class.inactive]="puzzleService.getPuzzle().moveIndex === 0"
          >{{"undo" | uppercase}}</button>
        <button class="knop p-50 l-50" 
          [ngStyle]="{'background-color': puzzleService.getPuzzle().color}" 
          (click)="redo()"
          [class.inactive]="puzzleService.getPuzzle().moveIndex === puzzleService.getPuzzle().moves.length"
          >{{"redo" | uppercase}}</button>
        <div #elementsPanel class="elementContainer">
            <app-elements></app-elements>
          </div>
      </div>
</div>