<!-- ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ -->
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~CONTROLPANEL~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<!-- vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv -->
<svg #controlpanel class="controls"
  [class.inactive]="activated"
  attr.viewBox="0,0,{{horizontal ? 340 : 1000}},{{horizontal ? 1000 : 340}}">
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~BUTTONS~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <svg attr.x = "{{horizontal ? 0 : buttonw / 3}}">
    <svg *ngFor="let button of buttons; let i=index">
      <svg class="button-container"
        attr.x= "{{button.x}}"
        attr.y= "{{button.y}}">
        <!-- attr.x= "{{(i % 2) * (buttonw + d)}}"
        attr.y= "{{(i - (i % 2)) / 2 * (buttonh + d)}}"> -->
      <rect [class.click-area]="button.active" attr.fill="{{color}}"
        attr.opacity="{{button.text === 'undo' ? puzzleService.puzzle.moveIndex > 0 ? 1 : 0.5 :
        button.text === 'redo' ? puzzleService.puzzle.moveIndex === puzzleService.puzzle.moves.length ? 0.5 : 1 : 1}}"
        attr.width="{{buttonw}}"
        attr.height="{{buttonh}}"
        (click)="buttonClicked(button.text)">
      </rect>
      <text class="button-text"
        attr.x="{{buttonw / 2}}"
        attr.y="{{buttonh / 2}}">{{button.text | uppercase}}</text>
      </svg>
    </svg>
  </svg>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~COLORPANEL~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <text class="color-text"
    attr.x="{{horizontal ? w / 2 : w / 1.5}}"
    attr.y="{{2.3 * (buttonh + d)}}"
    >Drawing color</text>
  <svg #colorPanel
    attr.x="{{horizontal ? 40 : 0}}"
    attr.y="{{2 * (buttonh + d) + 35 + d}}"
    attr.width="{{horizontal ? w : 1.5*(w - d)}}"
    attr.height="{{0.7 * w}}">
    <circle *ngFor="let colorbtn of colorButtons; let i=index"
      class="btn-color click-area"
      attr.r="{{(w - 4 * d) / 8}}"
      attr.fill="{{colorbtn.color}}"
      attr.cx = "{{horizontal ? colorbtn.cxh : colorbtn.cxv}}"
      attr.cy = "{{horizontal ? colorbtn.cyh : colorbtn.cyv}}"
      (click)="colorButtonClicked(colorbtn.color)"></circle>
  </svg>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~EraseColorButton~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <svg class="button-container"
    attr.x = "{{horizontal ? 0 : buttonw / 3}}"
    attr.y= "{{horizontal ? 2 * (buttonh + d) + 35 + 2 * d + 0.5 * w
                            : w - buttonh - 2}}">
    <rect [class.click-area]="eraseButton.active" attr.fill="{{color}}"
      attr.opacity=1
      attr.width="{{width}}"
      attr.height="{{buttonh}}"
      (click)="buttonClicked('erase color')">
    </rect>
    <text class="button-text"
      attr.x="{{w / 2}}"
      attr.y="{{buttonh / 2}}">ERASE COLOR</text>
  </svg>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~ELEMENTSPANEL~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <svg #elementsPanel
  attr.x="{{horizontal ? 0 : h - (2 * w + 10 * d) / 3}}"
  attr.y="{{horizontal ? h - 4 * buttonh - 3 * d : 0}}"></svg>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~NUMBERBUTTONS~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <svg class="number-buttons"
    attr.x="{{horizontal ? 0 : h - (2 * w + d) / 3}}"
    attr.y="{{horizontal ? h - 4 * buttonh - 3 * d : 0}}">
    <svg *ngFor="let button of numberButtons; let i=index">
      <svg class="button-container"
        attr.x= "{{horizontal ? button.xh : button.xv}}"
        attr.y= "{{horizontal ? button.yh : button.yv}}">
      <rect attr.fill="{{color}}" class="click-area"
        attr.width="{{(w - 2 * d) / 3}}"
        attr.height="{{buttonh}}"
        (click)="buttonClicked(''+button.number, true)">
      </rect>
      <!-- [class.click-area]="button.active"
      attr.opacity="{{button.active ? 1 : 0.5}}" -->
      <text class="button-text"
        attr.x="{{(w - 2 * d) / 6}}"
        attr.y="{{buttonh / 2}}">{{button.number}}</text>
      </svg>
    </svg>
  </svg>
</svg>
