<svg #puzzle class="puzzle"
  attr.viewBox="0,0,{{puzzleService.controller.totWidth}},{{puzzleService.controller.totHeight}}">
  <g attr.transform="translate({{puzzleService.controller.getOffsetX()}},{{puzzleService.controller.getOffsetY()}})">
    <g #errorlayer></g>
    <g *ngIf="puzzleService.controller.gridType === 'grid'">
      <path class="grid" *ngFor="let x of puzzleService.getRange(1,puzzleService.controller.width)"
        attr.d="M{{100*x}} 0 {{100*x}} {{100*puzzleService.controller.height}}"></path>
      <path class="grid" *ngFor="let y of puzzleService.getRange(1,puzzleService.controller.height)"
        attr.d="M0 {{100*y}} {{puzzleService.controller.width*100}} {{100*y}}"></path>
    </g>
    <rect #boundary class="boundary" attr.width={{100*puzzleService.controller.getWidth()}} attr.height={{100*puzzleService.controller.getHeight()}}></rect>
    <g #gridlayer></g>
    <g #highlightlayer></g>
    <g #puzzlelayer></g>
  </g>
</svg>
