.play {
  display: flex;
}
@media screen and (orientation:portrait) {
  .play {
    flex-wrap: wrap;
  }
  .grid {
    width: 50rem;
    height: 50rem;
  }
  .controls {
    overflow: hidden;
    width: 50rem;
  }
}
@media screen and (orientation:landscape) {
  .play {
    flex-wrap: nowrap;
  }
  .grid {
    width: 50rem;
    height: 50rem;
  }
  .controls {
    overflow: hidden;
    width: 35rem;
    height: 45rem;
  }
}
