/* You can add global styles to this file, and also import other style files */
.noshow {
  display: none;
}
@media screen and (orientation:portrait) {
  html {
    font-size: 1.3vh;
  }
}
@media screen and (orientation:landscape) {
  html {
    font-size: 1.3vw;
  }
}

@media (min-aspect-ratio: 8/5) {
  html {
    font-size: 2vh;
  }
}
@media (max-aspect-ratio: 5/8) {
  html {
    font-size: 2vw;
  }
}
